[submodule "submodulos/Const-GR1-nagua-uyaguari-fernando-alexander"]
	path = submodulos/Const-GR1-nagua-uyaguari-fernando-alexander
	url = https://github.com/2025A-Constr-SWGR1/Const-GR1-nagua-uyaguari-fernando-alexander.git
